<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume.AI</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <style>
      .comingsoon {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: transparent;
        text-align: center;
        z-index: -999999;
      }

      .comingsoon h1 {
        font-size: 3rem;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <canvas id="three-container"></canvas>
    <div class="comingsoon">
      <h1>Coming Soon....</h1>
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
